// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

window.Bar {
	background: transparent;
	color: #{$theme_bg_color};
	font-weight: bold;

	>centerbox {
		margin: 16px;
		margin-right: 0;
		min-width: 40px;
	}

	button {
		border-radius: 16px;
	}
}
