* {
	font-family: "Iosevka";
}

window.bar {
	background: linear-gradient(90deg, rgb(6.667%, 6.667%, 10.588%) 0%, rgba(6.667%, 6.667%, 10.588%, 0.999755859375) 6.25%, rgba(6.667%, 6.667%, 10.588%, 0.998046875) 12.5%, rgba(6.667%, 6.667%, 10.588%, 0.993408203125) 18.75%, rgba(6.667%, 6.667%, 10.588%, 0.984375) 25%, rgba(6.667%, 6.667%, 10.588%, 0.969482421875) 31.25%, rgba(6.667%, 6.667%, 10.588%, 0.947265625) 37.5%, rgba(6.667%, 6.667%, 10.588%, 0.916259765625) 43.75%, rgba(6.667%, 6.667%, 10.588%, 0.875) 50%, rgba(6.667%, 6.667%, 10.588%, 0.822021484375) 56.25%, rgba(6.667%, 6.667%, 10.588%, 0.755859375) 62.5%, rgba(6.667%, 6.667%, 10.588%, 0.675048828125) 68.75%, rgba(6.667%, 6.667%, 10.588%, 0.578125) 75%, rgba(6.667%, 6.667%, 10.588%, 0.463623046875) 81.25%, rgba(6.667%, 6.667%, 10.588%, 0.330078125) 87.5%, rgba(6.667%, 6.667%, 10.588%, 0.176025390625) 93.75%, rgba(6.667%, 6.667%, 10.588%, 0) 100%);
	min-width: 80px;

	centerbox {
		margin-left: 6px;
		margin-bottom: 6px;
		margin-top: 16px;
		padding-right: 15px;
		min-width: 40px;
	}
}

.workspaces {
	button {
		padding: 2px;
		min-width: 25px;
	}

	box.workspace-box {
		margin: -3px 0px;

		&:selected {
			margin: 2px 0px;
			border-radius: 50px;
			box-shadow: 0px 0px 2px 2px $mauve;

			button {
				border-radius: 50px;
				box-shadow: none;
				background-color: transparent;
				color: $mauve;
			}
		}
	}

	box.windows {
		padding-bottom: 2px;
	}

	label.symbol {
		margin-left: -4px;
	}
}

button {
	background-color: transparent;
	border-radius: 50px;

	&:hover {
		background-color: $peach;
		color: $base;
		box-shadow: 0px 0px 2px 2px $base;
	}

	&:active {
		background-color: $base;
		color: $peach;
		box-shadow: 0px 0px 2px 2px $peach;
	}
}

.big {
	font-size: 20px;
}

.small {
	button {
		padding: 2px;
		margin: -5px 0px;
		min-width: 25px;
	}
}

.window {
	margin: 2px 0px;
	padding: 0px;
	background-color: transparent;

	&:hover {
		background-color: transparent;
		color: $peach;
		box-shadow: none;
	}
}

.audio {
	margin-bottom: 10px;
	border-radius: 50px;
	padding: 4px 0;

	&:focus {
		box-shadow: 0px 0px 2px 2px $green;

		icon {
			color: $green;
		}
	}

	scale trough highlight {
		background-color: $green;
	}

	icon {
		font-size: 20px;
	}

	.sliderBox {
		min-height: 150px;
	}
}

scale {
	slider {
		background-color: $text;
	}

	trough {
		min-width: 15px;
	}
}
