:root {
	--color-solid: var(--palette-base);
	--color-alpha: rgb(from var(--color-solid) r g b / 0.8);
	--browser-margins: 0px;
	--tab-size: .9;
}

:root:not([windowtype="Toolkit:PictureInPicture"], [inDOMFullscreen]) {

	body,
	#browser,
	#sidebar-main,
	#navigator-toolbox {
		&>*:not(#sidebar-launcher-splitter) {
			border-radius: 10px !important;
			overflow: hidden;
		}
	}

	#browser {
		gap: 5px;
		margin: var(--browser-margins);
		margin-top: 4px;
		padding: 6px;
		background: var(--color-alpha) !important;
		border: 0px solid transparent;
		box-shadow: none;

		#sidebar-main,
		#tabbrowser-tabbox {
			outline: none !important;
			box-shadow: none !important;
			border: none !important;

			#tabbrowser-tabpanels {
				background: transparent !important;
			}

			#vertical-tabs {
				padding-top: 4px
			}
		}
	}

	#navigator-toolbox {
		mix-blend-mode: screen;
		margin: var(--browser-margins);
		background: var(--color-alpha) !important;
		padding: 6px;

		>* {
			background: inherit !important;

			&#PersonalToolbar {
				margin-top: 6px;
			}
		}
	}
}

#sidebar-launcher-splitter {
	width: 8px !important;
	background: transparent !important;
	margin: 2px -7px !important;
	padding: 0px !important;
	border-radius: 10px;
	transition: all .6s ease-in-out !important;

	&:hover {
		background: var(--color-overlap) !important;
	}
}

#vertical-pinned-tabs-container,
scrollbox {
	scrollbar-width: none !important;
}

/* taller pinned tabs */
@media (-moz-bool-pref: "glassfox.sidebar.taller-pinned-tabs") {
	:root:not(:has(sidebar-main[expanded])) {
		#tabbrowser-tabs {
			height: 100% !important;

			:has(tab) {
				min-height: clamp(0px, 45%, 100%) !important;
			}
		}
	}

}

/* Tab styling for more visual separation */
#tabbrowser-tabs tab {

	&,
	& * {
		transition: all ease .3s !important;
	}

	.tab-background {
		background: color-mix(in srgb, currentColor 30%, var(--bg-mixer, var(--tab-bg, transparent))) !important;
		color: var(--palette-crust);
	}

	&[pending="true"] {
		.tab-background {
			color: var(--palette-surface2) !important;
		}

		.tab-icon-stack {
			filter: sepia(80%);
		}
	}

	&[selected="true"],
	&[multiselected="true"] {
		.tab-background {
			outline-color: var(--palette-text) !important;
			box-shadow: none !important;
		}
	}

	&:hover {
		.tab-background {
			color: var(--palette-text) !important;
		}

		.tab-icon-stack {
			filter: sepia(0);
			scale: 1.2;
		}
	}
}

#tabbrowser-tabs tab {
	--min-height: var(--tab-min-height);

	.tab-stack {
		--tab-min-height: calc(var(--min-height) * var(--tab-size, 1) * var(--tab-height, 1));

		.tab-icon-stack {
			scale: calc(var(--tab-scale, 1) * var(--tab-size, 1));
		}
	}
}

/* Add border radius to developer tools */
.devtools-toolbox-bottom-iframe {
	clip-path: inset(0 0 0 round 5px) !important;
	background: transparent !important;
}

.tab-group-label {
	width: 100%;
}

tab-group {
	&:not([collapsed])::before {
		background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert));
		width: 5px !important;
		margin-top: -15px !important;
		border-bottom-right-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
	}
}
